{% load static %}






<div class="container-atletas">


    <div class="header">
        <h1 class="titulo">Atletas AVS</h1>
        <select name="escalao" id="escalaoAtleta" onchange="filterAtletasEscala(this)">
            <option value="todosNA" disabled selected>Selecione um escalão</option>
            <option value="todos">Selecionar todos</option>
            <option value="7">Sub-7</option>
            <option value="6">Sub-6</option>
        </select>
        <a href="{% url 'atletas:create_atleta' %}" class="btn-add link-ajax">
            <span class="material-symbols-outlined">add</span>
            Novo Atleta
        </a>
    </div>
    
    <div class="table-responsive">
        <div class="table-container">
            <table class="table-atletas">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                        <th>Número</th>
                        <th>Nome Camisola</th>
                        <th>Guarda-redes</th>
                        <th>Operações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atleta in atletas %}
                    <tr>
                        <td><a href="{% url 'atletas:detail_atleta' atleta.id %}"
                                hx-get="{% url 'atletas:detail_atleta' atleta.id %}" hx-target="#conteudo-dinamico"
                                hx-targe="#conteudo-dinamico" hx-push-url="true" class="link-ajax">{{ atleta.nome }}</a></td>
                        <td>{{ atleta.data_nascimento|date:"d/m/Y" }}</td>
                        <td>{{ atleta.numero }}</td>
                        <td>{% if atleta.nome_camisola %}{{ atleta.nome_camisola }}{% else %}N/A{% endif %}</td>
                        <td><input type="checkbox" class="form-check-input" {% if atleta.guarda_redes %} checked {% endif %} disabled> </td>
                        <td class="linha">
                            <a href="{% url 'atletas:update_atleta' atleta.id %}" class="link-ajax"><span
                                    class="material-symbols-outlined btn-operacoes"> edit</span></a>
                            <a href="#" class="link-ajax" onclick="deleteAtleta('{{ atleta.id }}', '{{ atleta.nome }}');"><span
                                    class="material-symbols-outlined btn-operacoes">
                                    delete
                                </span></a>
                            <a href="#"><span class="material-symbols-outlined btn-operacoes">shopping_cart_checkout</span></a>
                        </td>
                    </tr>
                    {% endfor %}


            </table>
        </div>



    </div>
    <div class="header">
        <div class="me-auto">
            <button type="button" class="btn-add" onclick="imprimirCamisolas(event)">
            <span class="material-symbols-outlined">print</span>
            Imprimir Nº Camisolas
            </button>
            <button type="button" class="btn-add" onclick="imprimirAtletas(event)">
                <span>Lista Atletas PDF</span>
            </button>
        </div>
    </div>

        
    
</div>