{% load static %}



<div class="container text-center" data-module="atletas">

  <div class="form-header">
    <div class="titulo">{% if object %}Editar Atleta{% else %}Novo Atleta{% endif %}</div>
  </div>


<form method="post" id="form-new-atleta" enctype="multipart/form-data" {% if object %} data-url="{% url 'atletas:update_atleta' object.pk %}" {% else %} data-url="{% url 'atletas:create_atleta' %}" {% endif %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" >Gravar entrada</button>
</form>
</div>


<script>
  flatpickr(".datepicker", {
    dateFormat: "Y-m-d",
    altInput: true,
    altFormat: "d/m/Y",
    locale: "pt"
  });
</script>


<script>
  window.urlAtletasList = "{% url 'atletas:atletas_list' %}";
</script>