{% load static %}

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>


<div class="container text-center">


    {% if object %}
   <div class="text-center">Editar Atleta</div>
    {% else %}
    <div class="text-center">Novo Atleta</div>
    {% endif %}
<form method="post" id="form-new-atleta" enctype="multipart/form-data" {% if object %} data-url="{% url 'atletas:update_atleta' object.pk %}" {% else %} data-url="{% url 'atletas:create_atleta' %}" {% endif %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" >Gravar entrada</button>
</form>
</div>


<script>
  flatpickr(".datepicker", {
    dateFormat: "Y-m-d",
    altInput: true,
    altFormat: "d/m/Y",
    locale: "pt"
  });
</script>
