{% load static %}





<div class="container  text-center mt-5">
    <p class="fs-1 fw-bold">Detalhe {{atleta_detail.nome}}</p>

    <p><strong>Nome: </strong> {{atleta_detail.nome}}</p>
    <p><strong>Data Nascimento: </strong> {{atleta_detail.data_nascimento}}</p>
    <p><strong>Número: </strong> {{atleta_detail.numero}}</p>
    <p><strong>Encarregado: </strong> {{atleta_detail.encarregado}}</p>
    <p><strong>Telefone: </strong> {{atleta_detail.telefone}}</p>
    <p><strong>Email: </strong> {{atleta_detail.email}}</p>
    {% if  not atleta_detail.guarda_redes %}
    <p><strong>Guarda redes: </strong> Verdadeiro</p>
    {% endif %}
    <p><strong>Ficha: </strong> {{atleta_detail.ficha}}</p>


    <p class="fs-1 fw-bold">Encomendas</p>

    

</div>
