{% load static %}


<div class="form-header">
  <div class="titulo">{% if form_item.instance.pk %}Editar Encomenda{% else %}Nova Encomenda{% endif %}</div>
</div>



<form method="post" id="form-new-encomenda" {% if form_item.instance.pk %}
  data-url="{% url 'equipamentos:encomendas_uptade' form_item.instance.pk %}" {% else %}
  data-url="{% url 'equipamentos:create_encomenda_equipamentos' %}" {% endif %} enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    <legend>Dados da Encomenda</legend>
    {{ form_encomenda.as_p }}
  </fieldset>

  <fieldset>
    <legend>Artigo da Encomenda</legend>
    {{ form_item.as_p }}
  </fieldset>

  <button type="submit" class="btn btn-secondary">Guardar</button>
</form>

</div>


<script>
  window.urlEncomendasList = "{% url 'equipamentos:encomendas_equipamentos_list' %}";
</script>