{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>AFS sub-7</title>
</head>
<body>



    <div class="menu d-flex justify-content-center">
        <a href="{% url 'atletas:atletas_list' %}" class="btn-menu">Atletas</a>
        <a href="{% url 'equipamentos:encomendas_equipamentos_list' %}" class="btn-menu">Encomendas</a>
        <a href="#" class="btn-menu">Jogos</a>
        <button id="theme-toggle" class="btn btn-outline-secondary ms-auto">🌙 Escuro</button>
    </div>



    <div id="conteudo-dinamico" class="container-main mt-5">
        {% block main %}
        {% endblock %}
    </div>


    
</body>
<script>
    window.urlEncomendasList = "{% url 'equipamentos:encomendas_equipamentos_list' %}";
</script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>

<script src="{% static 'js/geral.js' %}"></script>
<script src="{% static 'js/atletas.js' %}"></script>
<script src="{% static 'js/equipamentos.js' %}"></script>


</html>