





<div data-module="jogos" class="container">

    <div class="form-header text-center">
        <div class="titulo">{% if object %}Editar Equipa{% else %}Nova Equipa{% endif %}</div>
    </div>

    <div class="form-container">
        <form method="post" id="form-new-team" {% if object %}
         data-url="{% url 'jogos:update_team' object.pk %}" {% else %} data-url="{% url 'jogos:new_team' %}" {% endif %}>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary" >Criar Equipa</button>
        </form>
    </div>


</div>