<header class="p-4 d-flex flex-column align-items-center">
    <!-- Botões centralizados -->
    <div class="d-flex gap-2 mb-3 justify-content-center">
        <button type="button" id="btn-inicio" onclick="iniciarJogo(event)" class="btn btn-outline-secondary">
            <span class="material-symbols-outlined">play_circle</span>
        </button>
        <button type="button" class="btn btn-outline-secondary">
            <span class="material-symbols-outlined" onclick="intervaloJogo(event, '{{ jogo_id }}')">pause_circle</span>
        </button>
        
        
    </div>

   
    <div class="fs-2 fw-bold mb-2 text-center">Tempo</div>

    <div id="game-timer" data-inicio="{{ jogo.inicio }}"  class="display-1 fw-bold text-center">00:00</div>
</header>


<section class="p-4 d-flex flex-column align-items-center">
    <h2 class="font-bold"><span class="pointer" ondblclick="goloEquipa('{{jogo.id}}','{{jogo.visitado.id}}' )">{{jogo.visitado}} ({{jogo.golos_visitado}}) - </span> <span class="pointer" ondblclick="goloEquipa('{{jogo.id}}','{{jogo.visitante.id}}' )">{{jogo.visitante}} ({{jogo.golos_visitante}})</span></h2>
    <ul class="list-unstyled">
        {% for jogador in estatisticas %}
            <li class="d-flex align-items-center">
                <input type="checkbox" data-jogo="{{jogador.jogo.id}}" value="{{jogador.atleta.id}}" class="form-check-input atletasSelect" onchange="alterarEmJogo(event,'{{jogador.atleta.id}}', '{{jogador.jogo.id}}')" name="jogadoresEmJogo"  {% if jogador.em_campo %} checked {% endif %}></input>
                <span class="ms-2 pointer" ondblclick="golo('{{jogador.atleta.id}}', '{{jogo.id}}')" >{% with nome_parts=jogador.atleta.nome.split %}
  {{ nome_parts.0 }} {{ nome_parts|last }}
{% endwith %}</span>
                <span class="ms-auto">{{jogador.golos}} golos</span>
                <span class="ms-2 tempo-decorrido-jogo" data-inicio="{{jogador.inicio|date:'c'}}"></span>
                <span class="ms-2">tempo: {{ jogador.tempo_formatado_total_minutos }}</span>
            </li>
        {% endfor %}
        
    </ul>
</section>  