<div class="container" data-module="jogos">



<div class="form-container">
    <div class="header d-flex justify-content-between">
    <a href="{% url 'jogos:games_list' %}" hx-get="{% url 'jogos:games_list' %}" hx-target="#conteudo-dinamico" hx-push-url="true" class="btn-add link-ajax">
        <span class="material-symbols-outlined">
                    undo
            </span>
        Voltar</a>
    <div class="titulo">{% if object %}Editar Jogo{% else %}Novo Jogo{% endif %}</div>

    <a href="{% url 'jogos:new_team' %}" hx-get="{% url 'jogos:new_team' %}" hx-target="#conteudo-dinamico"
       hx-push-url="true" class="btn-add link-ajax"><span class="material-symbols-outlined">add</span>
            Nova Equipa</a>

        </div>


    <form method="post" id="form-new-game" data-action="novo-jogo" {% if object %} data-url="{% url 'jogos:update_game' object.pk %}" {% else %} data-url="{% url 'jogos:new_game' %}" {% endif %}>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">{% if object %}Editar Jogo{% else %}Criar Jogo {% endif %}</button>
    </form>
</div>
</div>