{% load static%}

<div class="d-flex" >
    <div class="div">
        <a href="{% url 'jogos:new_game'  %}" hx-target="#conteudo-dinamico" hx-push-url="true" class="link-ajax" data-action="novo-jogo">Novo
            Jogo</a>
    </div>


</div>



<div class="container" data-module="jogos">
    <p class="text-center fs-1">Jogos</p>

    <div class="table-responsive">
        <table class="table-atletas">
            <thead>
                <tr>
                    <th scope="col">Visitado</th>
                    <th scope="col">Visitante</th>
                    <th>Resultado</th>
                    <th class="d-none d-md-table-cell" scope="col">Data</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                {% for jogo in jogos %}
                <tr>
                    <td>{{ jogo.visitado }}</td>
                    <td>{{ jogo.visitante }}</td>
                    <td>{{ jogo.golos_visitado }} - {{ jogo.golos_visitante }}</td>
                    <td class="d-none d-md-table-cell">{{ jogo.data }}</td>
                    <td class="linha">
                        <a href="{% url 'jogos:update_game' jogo.pk %}" hx-get="{% url 'jogos:update_game' jogo.pk %}"
                            hx-target="#conteudo-dinamico" hx-push-url="true" class="link-ajax"><span
                                class="material-symbols-outlined btn-operacoes">
                                edit
                            </span></a>

                        <button type="button" class="btn-remove btn-operacoes"
                                data-action="resumoJogo"
                                data-jogoid="{{ jogo.pk }}"
                                ><span
                                class="material-symbols-outlined btn-operacoes">
                                timer_play
                            </span></button>
                        <button type="button" class="btn-remove btn-operacoes"><span class="material-symbols-outlined btn-operacoes">
                                sports_and_outdoors
                            </span></button>
                        <button type="button" class="btn-remove btn-operacoes"
                                data-action="eliminarJogo"
                                data-jogoid="{{ jogo.pk }}"
                                ><span class="material-symbols-outlined btn-operacoes">
                                delete
                            </span></button>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
     </div>
</div>